<h1><span data-bind="text: displayName"></span> Quiz Room</h1>

<h4>Team Name:  <span data-bind="text: teamName"></span></h4>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="panel panel-primary"> 
      <div class="panel-heading"> 
        <h3 class="panel-title">Question # <span data-bind="text: currentQuestion.number"></span></h3> 
      </div> 
      <div class="panel-body">
        <div class="question">
          <h3 data-bind="text: currentQuestion.question"></h3>
          </div>
          <form action="">
            <label for="answer">Your answer: </label> 
            <input class="input pass" data-bind="value: answer" id="answer" name="answer" autocomplete="off"/>
            <button class="inputButton btn-block" data-bind="click: sendAnswer">Send</button>
        </form>
      </div> 
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-primary"> 
      <div class="panel-heading"> 
        <h3 class="panel-title">Previous Questions</h3> 
      </div> 
      <div class="panel-body">
        <ul class="list-group" data-bind="foreach: previousQuestions ">
          <li class="list-group-item list-count" data-bind="click: $parent.showQuestion.bind($data), text: $data.question">
          </li>
        </ul>
      </div> 
    </div>
  </div>
</div>

<div id="addTeam" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select a Team Name</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="input pass" data-bind="value: teamName"/>
      </div>
      <div class="modal-footer">
        <button type="button" data-bind="click: setTeam" class="btn btn-primary">Set</button>
      </div>
    </div>
  </div>
</div>

<!-- 

// TODO: when Round Over
<button data-bind="click : populateQuestions">STart Next Round</button>
<button data-bind="click : nextQuestion">Next Question Trigger</button> -->
