<h1>Join a QuizNight Room</h1>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-xs-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">Join Room</div>
        <div class="panel-body">
          <input data-bind="value: room.id" placeholder="Room Name" class="input pass"/>
          <input data-bind="value: room.secret" placeholder="Password (optional)" type="password" class="input pass"/>
          <button class="inputButton" type="submit" data-bind="click: join" class="btn btn-primary">Join</button>
        </div>
      </div>  
    </div>
</div>

