<h1>Join a QuizNight Room</h1>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Room ID</label>
              <div class="input-group">
                <div class="input-group-addon">#</div>
                <input type="text" class="form-control" id="exampleInputAmount" 
                data-bind="value:room.id" placeholder="Room number">
              </div>
              <br />
              <div class="input-group">
                <div class="input-group-addon">Password</div>
                <input data-bind="value:room.secret" type="text" class="form-control" id="exampleInputAmount" placeholder="Password">
              </div>
              <br />

            </div>

            <button class="inputButton" type="submit" data-bind="click: join" class="btn btn-primary">Join</button>
          </form>
    </div>
</div>

